@layer theme, base, components, mantine, utilities;

@import "tailwindcss";

@layer mantine {
  @import "@mantine/core/styles.layer.css";
}

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --spacing-xs: var(--mantine-spacing-xs);
  --spacing-sm: var(--mantine-spacing-sm);
  --spacing-md: var(--mantine-spacing-md);
  --spacing-lg: var(--mantine-spacing-lg);
  --spacing-xl: var(--mantine-spacing-xl);

  --color-primary-0: var(--mantine-primary-color-0);
  --color-primary-1: var(--mantine-primary-color-1);
  --color-primary-2: var(--mantine-primary-color-2);
  --color-primary-3: var(--mantine-primary-color-3);
  --color-primary-4: var(--mantine-primary-color-4);
  --color-primary-5: var(--mantine-primary-color-5);
  --color-primary-6: var(--mantine-primary-color-6);
  --color-primary-7: var(--mantine-primary-color-7);
  --color-primary-8: var(--mantine-primary-color-8);
  --color-primary-9: var(--mantine-primary-color-9);

  --color-body: var(--mantine-color-body);
  --color-default-border: var(--mantine-color-default-border);
}

@layer base {
  * {
    @apply border-default-border;
  }
}
